.Footer {
	position: relative;
	padding: 64px;
	background: var(--bg-footer);
	color: var(--text-footer);
	text-align: center;

	@media (max-width: 700px) {
		padding: 20px;
	}

	a {
		color: inherit;

		&:hover {
			color: hsl(180deg, 45%, 75%);
		}
	}
}

