.footer {
	position: relative;
	padding: 64px;
	background: var(--bg-footer);
	color: var(--text-footer);
	text-align: center;
}

a {
	color: inherit;

	&:hover {
		color: hsl(180deg, 45%, 75%);
	}
}
